# OpenAI Configuration
OPENAI_API_KEY="sk-your-key-here"

# Aiceberg API Configuration  
API_TOKEN="Bearer your-token-here"
EVENT_MONITORING_PROFILE_ID="your-profile-id-here"
AICEBERG_API_URL="https://prod.api.aiceberg....."

# OpenWebUI Secret Key (generate a random string)
WEBUI_SECRET_KEY="your-openwebui-secret-key-here"